body {
  font-family: 'Muli', Helvetica, sans-serif;
  background: #e0ddd8;
  overflow-x: hidden;
}

button {
  width: 30px;
  height: 30px;
  margin: 0 auto;
  background: #eee;
  border: #9c4e4e 2px solid;
  border-radius: 20px;
  outline: none;
}

.search {
  display: flex;
  width: 600px;
  height: 40px;
  margin: 40px auto;
  padding: 0 25px;
  background: #eee;
  border: 0;
  border-radius: 25px;
}

input {
  width: 100%;
  padding-left: 20px;
  font-size: 1.2rem;
  background: inherit;
  border: none;
  outline: none;
}

.clips-contain {
  display: grid;
  grid-template-columns: repeat(var(--c, 0), 1fr);
  width: calc(var(--n)*100%);
	transform: translate(calc(var(--tx, 0px) + var(--i, 0)/var(--n)*-100%));
}

.clips-contain__clip {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 320px;
  height: 610px;
  padding: 30px;
  background: #eee;
  border-radius: 10px;
}

a {
  display: inline-block;
  height: 80px;
  padding: 20px 0;
  font-size: 23px;
  font-weight: bold;
  text-decoration: none;
  color: black;
}


a:hover {
  color: #9c4e4e;
}

h3 {
  display: inline-block;
  padding: 10px;
  height: 120px;
  width: 300px;
  overflow: hidden;
  font-size: 18px;
  font-weight: normal;
  font-style: italic;
  background: #e4e4e4;
}

h4 {
  margin: 8px 0;
  font-size: 20px;
}

.clips-contain__clip-info {
  display: grid;
  grid-template: 1fr 1fr / 1fr 3fr;
}

.slider-contain {
  display: grid;
  grid-template: 1fr / repeat(4, 1fr);
  width: 160px;
  margin: 25px auto;
}

.slider__current-page {
  grid-column: 3 / 4;
  background: #9c4e4e;
  color: #eee;
}

.slider__prev-page {
  grid-column: 2 / 3;
}

.fas {
  margin: auto;
}

.smooth {
  transition: transform .5s ease-out;
}

@font-face {
  font-family: 'Muli';
  font-style: italic;
  font-weight: 400;
  src: local('Muli Italic'), local('Muli-Italic'), url(https://fonts.gstatic.com/s/muli/v13/7Au-p_0qiz-afTf2LwLT.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  src: local('Muli Regular'), local('Muli-Regular'), url(https://fonts.gstatic.com/s/muli/v13/7Auwp_0qiz-afTLGLQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
